/* 위아래 좌우*/
/* 위 좌우 아래*/
/* 상 우 하 좌*/

*{
    background-color: beige;
}
body {
    margin: 15px;
}
header {
    border-bottom: 3px solid rgb(114, 127, 115);
    color: rgb(20, 90, 76);
    text-align: center;
    padding: 10px 20px 20px 20px;  
    margin-bottom: 10px 10px 10px 0;
}
.PageName {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
header .PageName:visited {
  color: rgb(20, 90, 76);
}
/* menu */
.menu {
    border-right: 3px solid rgb(114, 127, 115);
    margin: 0 0 0 20px;
    padding: 20px 0;
}
.menu a{text-decoration:none;}
.menu a:visited{color:black;}
/* main */
main {
    margin-left: 30px;
}
.intro {
    color:rgb(255, 60, 0);
    background-color: rgb(127, 246, 255);
    display: inline;
}
/* Favorite Songs Table */
.table_song {
    width: 500px;
    margin: 40px 0 0 0;
    background-color: rgb(186, 156, 134);
    border-radius: 2%;
    text-align: center;
}
td, th {
    border: 2px solid rgb(134, 79, 40);
    background-color: rgb(255, 180, 172);
}
.table_song a {
    color: black;
    text-decoration: none;
    background-color: rgb(255, 180, 172);
}
.IE {
    margin: 40px 0 9.05px 0px;
}
/* Images */
.img_myBeanie {
    margin: 40px 0 0 1;
    width: 300px;
    background-image: "myBeanie.PNG";
}
.img_myDiary {
    margin: 40px 40px 0 40px;
    width: 200px;
}
.img_Pocoyo {
    margin: 125px 0 0 0;
    width: 200px;
}
.img {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.img1 {flex-grow: 1;}
.img2 {flex-grow: 1;}
.img3 {flex-grow: 1;}

/* grid1 */
#grid1 {
    display: grid;
    grid-template-columns: 200px 1fr;
}
/* grid2 banner */
.banner{
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 3px solid rgb(114, 127, 115); 
}
/* banner - Home */
.item1 {
    text-align: center;
    text-decoration: none;
    border-right: 3px solid rgb(114, 127, 115);
    flex-grow: 1;
    padding-top:3px;
}
.item1 a{text-decoration:none; color:black;}
/* Banner - SNS */
.item2 {
    text-align: center;
    border-right: 3px solid rgb(114, 127, 115);
    flex-grow: 1;
    padding-top:3px;
}
.item2 a{text-decoration:none; color:black;}
/* Banner - Contacts */
.item3 {
    text-align: center;
    border-right: 3px solid rgb(114, 127, 115);
    flex-grow: 1;
    padding-top:3px;
}
.item3 a{text-decoration:none; color:black;}
/* Banner - TMI */
.item4 {
    text-align: center;
    flex-grow: 1;
    padding-top:3px;
}
.item4 a{text-decoration:none; color:black;}
/* 850px 이하일 때 */
@media(max-width: 1200px){
    #grid1 {
        display: none;
    }
}
/* 850px 이상일 때*/
/*@media(max-width:1200px,)*/
@media(min-width: 1200px){
    #grid2 {
      display: none;
    }
}
